
<!--
<td></td>
<td><label {{ action "editMemory" memory on="doubleClick"}}
        class="has-tooltip" data-tooltip-content="{{memory.title}}" data-tooltip-place="bottom">
  {{memory.title}}
</label></td>
<td><span {{action "removeMemory" memory}} class="destroy glyphicon glyphicon-remove"></span> </td>-->

<td><a>Mark</a></td>
<td>Otto</td>
<td>JavaScript</td>
<td><span class="label label-info">JavaScript</span>
    <span class="label label-info">HTML</span>
    <span class="label label-info">CSS</span>
</td>
<td>10/10/2015</td>
<td>10/10/2015</td>

