<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Html
            </li>
        </ul>
    </li>
    <li class="list-group-item">
        <span class="badge">10</span>
        Cras justo second
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Javascript
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                Html
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                CSS
            </li>
        </ul>
    </li>
</ul>