<section class="row">
    <div class="col-md-2">
      {{#categories/categories-tree-node}}{{/categories/categories-tree-node}}
        <button class="btn btn-default">Edit Categories</button>
    </div>
    <div class="col-md-10">
      {{#memory/memory-filter}}{{/memory/memory-filter}}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Link</th>
                <th>Description</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Created</th>
                <th>Until</th>
            </tr>
            </thead>
            <tbody>
            {{#each model as |memory|}}
              {{#memory-details memory=memory}}{{/memory-details}}
            {{/each}}
            </tbody>
        </table>
    </div>
</section>
