<section id="memoryapp">
    <header id="header">
    </header>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
          {{memory-input}}
        </div>
    </div>
  {{outlet}}
</section>
<footer id="info">

</footer>